*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
*.pbxuser
*.perspective
*.perspectivev3
*.project.xcworkspace
*.xcuserdata
*.mode1v3
*.mode2v3
*.xcbkptlist
*.xcuserstate
*.xcuserdatad
xcdebugger
xcuserdata
.DS_Store
profile
build
DerivedData
.hg
.hgignore
.svn
Carthage.pkg
Carthage/Build
